/*
    Stefan Stankovic 22.02.2022

    ovaj se scss koristi za deklarisanje promenjivih i resetovanje css i pravljenje mixin komponenti.
*/

//Import Poppins Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//initialize collor for text
$white-text: #fff;
$black-text: #000;
$green-text: #3e5902;
$dark-green-text: #172601;

//initialize collor for button
$green-btn: #77a612;

//initialize collor for background
$ligh-yellow-bck: #edf2c2;
$yellow-bck: #ecf22e;

//initialize tranzition duration
$transition-time: 500ms;
$transition-time-long: 1000ms;

//Reset all css
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
}

//mixin for complete web site
@mixin flexCenter($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin button($background-color, $color, $amount: 20) {
    border-radius: 50px;
    background-color: $background-color;
    color: $color;
    width: 200px;
    height: 50px;
    text-decoration: none;
    transition: $transition-time;
    &:hover {
        background-color: darken($background-color, $amount);
    }
}
